<section>
    <form>
        <fieldset>
            <legend>{{title}}</legend>
            <input #input (input)="setPassword(input.value)" type="password"/>

            <ul>
                <li [class]="getClass(COMPLEXITY.EASY, password)">{{COMPLEXITY.EASY | titlecase}}</li>
                <li [class]="getClass(COMPLEXITY.MEDIUM, password)">{{COMPLEXITY.MEDIUM | titlecase}}</li>
                <li [class]="getClass(COMPLEXITY.STRONG, password)">{{COMPLEXITY.STRONG | titlecase}}</li>
            </ul>
        </fieldset>
    </form>
</section>
